extends layout.pug

include mixins/vstack

block code
    - const title = "Success :)"

block main-content
    +vstack()
        p.lead(class="p-3 bg-success-subtle border border-success rounded") #{successMessage}
        if backUrl
            a.btn(class="btn-secondary w-75 mx-auto" href=backUrl) #{btnText ? btnText : (backUrl === "/" ? "Back to Home" : "Back")}
